*{
	border: none;
	padding: 0;
	margin: 0;
}

.bbest-temas-investimento > * {
	font-family: 'Barlow';
  font-style: normal;
  letter-spacing: 0px;
}

.bbest-temas-investimento h4 {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #000099;
}
.bbest-investimento-content-no-border h2 {
  font-style: normal;
  font-weight: 600;
  font-size: 52px;
  line-height: 56px;
  color: #000099;
}
.bbest-temas-investimento-content h2 {
	font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  color: #000099;
}
.bbest-temas-investimento-content p {
	font-weight: 500;
  font-size: 14px;
  line-height: 20px;
	color: #0066ff;
}
.bbest-temas-investimento-content-no-border p {
	font-weight: 500;
  font-size: 16px;
  line-height: 20px;
	color: #0066ff;
}
.bbest-temas-investimento button {
  margin-top: 60px;
  cursor: pointer;
  width: 178px;
  height: 66px;
	position: relative;
  border: 1px solid #0066ff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 33px;
  top: calc(50% - 22px / 2 - 2px);
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
}

.continue-btn .bg {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 33px;
  width: 100%;
  height: 100%;
  -webkit-transition: background-color 1s cubic-bezier(0.165, 0.84, 0.44, 1),
    -webkit-transform 1s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: background-color 1s cubic-bezier(0.165, 0.84, 0.44, 1),
    -webkit-transform 1s cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-transition: transform 1s cubic-bezier(0.165, 0.84, 0.44, 1),
    background-color 1s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: transform 1s cubic-bezier(0.165, 0.84, 0.44, 1),
    background-color 1s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: transform 1s cubic-bezier(0.165, 0.84, 0.44, 1),
    background-color 1s cubic-bezier(0.165, 0.84, 0.44, 1),
    -webkit-transform 1s cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-transform-origin: center;
  transform-origin: center;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  will-change: transform;
}
.continue-btn .label {
  position: relative;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #000099;
  -webkit-transition: color 1s cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-transition: color 1s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: color 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.continue-btn:hover .bg {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  background-color: #0066ff;
}
.continue-btn:hover .label {
  color: #fff;
}


.bbest-temas-investimento .card-3 {
  margin-top: 150px;
}
.bbest-temas-investimento .card-2 {
  margin-top: 40px;
}
.bbest-temas-investimento .card-2 .bbest-temas-investimento-content-no-border {
  height: auto;
  border-radius: 20px;
  width: 80%;
  overflow: hidden;
}
.bbest-temas-investimento-content-no-border .tema-destaque-caixa-imagem {
  /* max-height: 168px; */
  height: 168px;
  /*  height: 100%; */
  overflow: hidden;
}
.bbest-temas-investimento-content-no-border .tema-destaque-caixa-imagem img {
  width: 100%;
}
.bbest-temas-investimento-content-no-border .tema-destaque-caixa-info {
  padding: 20px 30px;
}
.bbest-temas-investimento-content-no-border .tema-destaque-caixa-info .destaque-tagline {
  margin: 14px 0;
}
.bbest-temas-investimento-content {
  cursor: pointer;
  height: 440px;
  width: 98%;
  border-radius: 20px;
  -webkit-box-shadow: 0px 20px 14px rgba(0, 102, 255, 0.112516);
  box-shadow: 0px 20px 14px rgba(0, 102, 255, 0.112516);
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
  /* overflow: hidden; */
}
.bbest-temas-investimento-content .tema-destaque-caixa-imagem {
  /* max-height: 168px; */
  height: 168px;
  /*  height: 100%; */
  overflow: hidden;
}
.bbest-temas-investimento-content .tema-destaque-caixa-imagem img {
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.bbest-temas-investimento-content .tema-destaque-caixa-info {
  padding: 20px 30px;
}
.bbest-temas-investimento-content .tema-destaque-caixa-info .destaque-tagline {
  margin: 14px 0;
}
.bbest-temas-investimento-content:hover {
  -webkit-transform: scale(1.05) !important;
  transform: scale(1.05) !important;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.bbest-temas-investimento-content:hover .icon-container {
  opacity: 1;
}
.bbest-temas-investimento-content .status-info {
  position: absolute;
  margin-top: -10px;
  margin-left: 40px;
  background: #ff9900;
  border-radius: 13px;
  width: 65px;
  height: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-family: Barlow;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.bbest-temas-investimento-content:hover .icon {
  -webkit-animation-name: icon-hover;
  animation-name: icon-hover;
}
.bbest-temas-investimento-content .icon-container {
  opacity: 0;
  position: absolute;
  bottom: 31px;
  right: 35px;
}
/* Animate Arrow */
.icon-container .icon {
  position: relative;
  display: block;
  -webkit-animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}
.icon-container .icon line,
.icon-container .icon path {
  -webkit-transition: stroke 1s cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-transition: stroke 1s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: stroke 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.icon-container .shadow {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}
.icon-container .shadow line,
.icon-container .shadow path {
  -webkit-transition: stroke 1s cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-transition: stroke 1s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: stroke 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}
@-webkit-keyframes shadow-hover {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-25px);
    transform: translateX(-25px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@-webkit-keyframes icon-hover {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  to {
    opacity: 0;
    -webkit-transform: translateX(25px);
    transform: translateX(25px);
  }
}

/*btn --- animacao--*/

/* Fim btn */
@media (max-width: 575.98px) {
  .bbest-temas-investimento-content {
    width: 100%;
  }
}
@media (max-width: 767.98px) {
  .bbest-temas-investimento .btn-ghost-big {
    display: none;
  }
  .bbest-temas-investimento .mobo {
    display: flex;
    margin: 0 auto;
    margin-top: 61px;
  }
  .bbest-temas-investimento .card-1 {
    margin-top: 0px !important;
  }
}
@media (max-width: 991.98px) {
  .bbest-temas-investimento-content-no-border {
    width: 100%;
  }
  .bbest-temas-investimento-content .bbest-temas-investimento-content {
    height: auto;
  }
  .bbest-temas-investimento .card-2 {
    margin-top: 110px;
  }
  .bbest-temas-investimento .card-3 {
    margin-top: 190px;
  }
  .bbest-temas-investimento-content-no-border .tema-destaque-caixa-info {
    padding: 0px 6px;
  }
	.bbest-temas-investimento-content .destaque-tagline .title-xl-3 {
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
		color: #000099;
  }
}
@media (max-width: 1199.98px) {
  .bbest-temas-investimento-content-no-border {
    width: 100%;
  }
}

